ultralytics>=8.0.0
opencv-python>=4.8.0
numpy==1.24.3
torch>=1.9.0
torchvision>=0.10.0
paddleocr>=2.6.0
paddlepaddle==2.6.1
Pillow>=8.3.0
easydict
onnx
onnxruntime
protobuf<=3.20.2
filterpy
scikit-learn
matplotlib
tqdm
pandas
dill